<%= form_with(model: like, local: true) do |form| %>
  <% if like.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(like.errors.count, "error") %> prohibited this like from being saved:</h2>

      <ul>
      <% like.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :like_url %>
  </div>

  <div class="field">
    <%= form.label :sitio %>
    <%= form.text_field :sitio, id: :like_sitio %>
  </div>

  <div class="field">
    <%= form.label :palabra %>
    <%= form.text_field :palabra, id: :like_palabra %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :like_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
